#linkPaginas{
    padding: 30px;
}

.titulo-principal{
    padding: 10px;
}
#banner{
   width: 97%; 
   height: 600px;
   margin: 20px;
}
.principal{
    background: #48A6AB;
    padding: 30px;
    margin: 20px;
}
h1,h2,h3,h4,h5,h6,p,ul{
    padding: 10px;
    margin: 10px;
}

p{
    text-align: center;
}
h1{
    text-align: center;
    color: 255 255 000;
}
body{
    background: #F79E4F;
}
#missao-strong{
    color: green;
}

#missao{
    font-size: 25px;
    color: black;
}

.servicos{
    font-size: 20px;
    margin: 20px;
    background: #97C6F6;
}
#serv{
    margin: 20px;
}
.imagem-calculo-folha{
    width: 60%; 
   height: 400px;
   margin-left: 250px; 
   padding: 20px;
}

.acesso-facil{
    height: 2%;
    background: ;
}
#acesso-rapido{
    text-align: center;

}
.imgReceita{
    width: 6%;
    height: 6%;
    margin-left: 140px;
}
.imgSimples{
    width: 6%;
    height: 6%;
    margin-left: 167px;
}
.imgSefa{
   width: 6%;
    height: 6%;
    margin-left: 220px;
    }
.imgCTPSdig{
    width: 8%;
    height: 8%;
    margin-left: 300px;
 
}

.rodape{
    background: #35F1FA;
    margin: 20px;
}
